apresentacao_vigenere/*.aux
apresentacao_vigenere/*.fdb_latexmk
apresentacao_vigenere/*.fls
apresentacao_vigenere/*.log
apresentacao_vigenere/*.nav
apresentacao_vigenere/*.out
apresentacao_vigenere/*.pdf
apresentacao_vigenere/*.snm
apresentacao_vigenere/*.toc
